  /* Header Query */
  @media (max-width: 768px) {
    nav {
      font-size: 12px; 
    }
  }
  
 
  @media (max-width: 480px) {
    ul li a {
        padding: 15px;
      }
  }

  @media (max-width: 768px) {
    ul li a {
        padding: 10px;
    }
  }
  

  @media (max-width: 480px) {
    ul li a {
        padding: 5px;
      }
  }



  /* Footer Query */
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

/* Left Main Query */
@media (max-width: 1379px) {
    .content-left {
        width:50%;
        text-align: center;
    }
}