/* Sets up entire area around weebpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sets font for entire body of webpage */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Sets Navbar at top of page to responsive(side-by-side) logo and menu */
header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Sets lists nav items to no bullets and responsive(side-by-side) to each other item */
ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

/* Sets items to remain in same row and take entire block(width) */
ul li a {
    padding: 0 20px;
    text-decoration: none;
    color:#3a3a3a;
    display: inline-block;
}

/* Adds line element under nav items as a new block level starting at 0% width*/
li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: #c4c4f7;
    transition: all .5s;
}

/* Adds transition for after element to take 100% width on hover */
li a:hover::after {
    width: 100%;
}

/* Default styles for larger screens */
nav {
    font-size: 16px;
  }

/* Sets main to start at bottom of header instead of inside */
main {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.content-left {
    width: 30%;
}

.content-right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Sets img dimensions */
.hero-img {
    max-width: 70%;
    height: auto;
    margin: 30px;
}

main h1 {
    font-size: 54px;
    color: #133B4F;
    text-transform: uppercase;
}

main h2 {
    font-size: 25px;
    color:#FCA70C;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}

.cta {
    padding: 15px 30px;
    background-color: #C4c4f7;
    color: #fff;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    margin-bottom: 25px;
}

.signup-btn {
    padding: 10px 20px;
    background-color: #C4c4f7;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

/* FOOTER Basic CSS*/

footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
.footer-links:hover {
    text-decoration: underline;
}

.footer-links::after{
    background-color: transparent;
}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    justify-content: center;
    display: flex;
}

.footer-links {
    text-decoration: none;
    color: #eee;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Footer Force to Bottom Features */

.container {
    flex: 1;    /* same as flex-grow: 1; */
}

/* Line Up to Foot main */
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}



/* Newsletter CSS */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

/* Social Footer CSS */
.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

/* Legal Footer CSS */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}